html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color:rgb(255, 255, 255);
}

nav {
  padding: 1em;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

a#menu svg {
  width: 30px;
  fill: #000;
  margin-top: 5px;
}

.title {
  font-size: 2.5em;
  text-align: center;
}

.search-input {
  border: 3px rgb(168, 168, 168) solid;
  background-color:rgb(255, 255, 255);
  padding: 12px;
  margin-left: 7px;
  margin-right: 5px;
  width: 85%;
  outline: none;
  border-radius: 4px;
}

.user-avatar {
  width:40px;
  height:40px;
  margin-top: 1px;
  border-radius: 50%;  
}

.select {
  border:none;
  background-color:rgb(255, 255, 255);
  padding: 9px;
  margin-top: -5px;
  margin-left: 7px;
  margin-right: 30px;
  font: inherit;
  font-size: 14px;
  outline: none;
}

.drawer {
  background-color:whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(172, 172, 172, 0.2), 0 3px 6px 0 rgba(0, 0, 0, 0.19);
}
